$_white: #FFFFFF;
$_black: #000000;
$_dark: #1a1a1a;
$_smoke: #4a4a4a;
$_darkSmoke: #252525;
$_lightSmoke: #888888;
$_light-smoke: #efefef;
$_yellow: #f9bf3b;
$_darkLightBlue: #2798b9;
$_lightBlue:#299cbd;
$_lightLightBlue: #3ab6da;